<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="radioradio.ru" version="3.10.0">
	<name>RadioRadio</name>
	<description>Радиостанция «РАДИО» - молодая и очень перспективная радиосеть, с хорошим темпом развития по всей территории России.
Радиостанция «РАДИО» - выходит за рамки традиционных представлений о музыкальном формате как таковом.
Это уникальный, гармоничный синтез старого и нового, смешение музыкальных стилей и направлений - от классического рок-н-ролла до ультрасовременной клубной музыки.
Обязательным критерием звучащей в эфире музыки является - абсолютный хит.</description>
	<author email="bugsmafia@gmail.com" href="https://vk.com/bugsmafia">Сергей Осипов Bugsmafia</author>
	<content src="index.html" />
	<!-- <content src="http://localhost/index.html" /> -->
	<preference name="phonegap-version" value="cli-6.3.0" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="AndroidLaunchMode" value="singleTop" />
	<preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />
	<preference name="Orientation" value="landscape" />
	<preference name="android-installLocation" value="auto" />
	<plugin name="cordova-plugin-whitelist" version="1" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="android">
		<icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi" />
		<icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi" />
		<icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi" />
		<icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi" />
		<icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi" />
		<icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />
		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi" />
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
		<preference name="AutoHideSplashScreen" value="true" />
		<preference name="FadeSplashScreen" value="false" />
		<preference name="FadeSplashScreenDuration" value="3" />
		<preference name="ShowSplashScreenSpinner" value="false" />
	</platform>
	<icon src="150.png" width="150" height="150" />
	<plugin spec="https://github.com/bugsmafia/cordova-plugin-stream-aac.git" source="git" />
	<plugin spec="https://github.com/apache/cordova-plugin-statusbar.git" source="git" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#444444" />
	<preference name="StatusBarStyle" value="lightcontent" />
	<plugin spec="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git" source="git" />
	<plugin spec="https://github.com/apache/cordova-plugin-splashscreen.git" source="git" />
	<plugin spec="https://github.com/renanoliveira/cordova-phone-call-trap.git" source="git" />
	<plugin spec="https://github.com/homerours/cordova-music-controls-plugin.git" source="git" />
	<plugin spec="https://github.com/phonegap/phonegap-plugin-contentsync.git" source="git" />
	<plugin spec="https://github.com/apache/cordova-plugin-network-information.git" source="git" />
	<plugin spec="https://github.com/hazems/cordova-sms-plugin.git" source="git" />
	<plugin spec="https://github.com/zhaoxinpeng/mediaVolume.git" source="git" />
	<plugin spec="https://github.com/apache/cordova-plugin-screen-orientation.git" source="git" />
	<!--  <plugin spec="https://github.com/bugsmafia/cordova-aac-stream.git" source="git" />  -->
	<!--  <plugin spec="https://github.com/remoorejr/cordova-plugin-media-with-compression.git" source="git" />  -->
	<plugin spec="https://github.com/app-sauce/cordova-telephony-not-required.git" source="git" />
</widget>