.logo
    width: 10em
    height: 4em
    margin: 0px auto
    background-image: url(../../logo/6.png) 
    background-size: contain
    background-repeat: no-repeat
    background-position: 50%

	
.logoAds a
    width: 10em
    height: 5em
    margin: 0px auto
    background-size: contain
    background-repeat: no-repeat
    background-position: 50%	
    display: block
	
.logo_wrap_play
	position: absolute
	width: 100% 
	top: 0 
	z-index: 30

.logo_wrap_play .logo
	width: 70%
	
// Вертикальная сетка формирования
.vert_grid
    display: table
    width: 100%
    height: 100%

.vert_grid_box
	display: table-row

.hor_grid
    display: table
    width: 100%

.hor_grid_box
	display: table-cell
	text-align: center
	
// Вывод названия песни

.artist  
  font-size 0.8em
  font-weight 400
  line-height 1em
  display block
  width 100%
  text-align center
  margin-top 0.5em

.song
  font-size 1em
  font-weight 400
  line-height 1em
  display block
  width 100%
  text-align center
	

	
	
	
.playbtn 
	position: relative
	width: 6em
	height: 6em
	margin: 0 auto
	
.playbtn .l1s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-l1.png)
	z-index: 1
	background-size: cover
	display: none

.playbtn .l2s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-l2.png) 
	z-index: 3
	background-size: cover
	animation: pulse 5s infinite
	display: none
	
.playbtn .l2sOff
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-l2u.png) 
	z-index: 3
	background-size: cover
	display: none
	
.playbtn #l2sOffAnim
	width: calc(100% - 8%)
	height: calc(100% - 8%)
	position: absolute
	top: 0px
	left: 0px
	z-index: 2

	margin: 4%
	border-radius: 50%
	background-color: #2fa8fd
	display: none !important

	
.playbtn .l3sAnim
	width: calc(100% - 30%)
	height: calc(100% - 30%)
	margin: 15%
	border-radius: 50%
	position: absolute
	top: 0px
	left: 0px
	background-color: rgba(255,87,34,1)
	z-index: 8
	display: none
	
.playbtn .l3s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-l3-load.png) 
	z-index: 10
	background-size: 112%
	background-position-x: 40%
	background-position-y: 70%
	background-repeat: no-repeat

.playbtn .l4s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-SPa.png)
	z-index: 5
	background-size: cover
	display: none;

.playbtn .playZone
	width: 50%
	height: 50%
	display: block
	z-index: 20
	position: relative
	margin: auto
	top: 25%
	cursor: pointer

.prestatus 
    color: #c2c2c2
    text-shadow: 0 1px 0 #ffffff
    text-align: center
    margin: -1rem 0rem 0rem 0rem
	
#poll
	display: none
	z-index: 10
	
	
//#ads
//	display: none
	
#volume
	width: 65%
	position: relative
	height: 1vh
	margin-left: 1.1em 
	z-index: 10
	
.poll_text
	padding 1em
	margin 0
	padding-bottom 0
	
.poll_ex
	padding-bottom 1em	
	 
#volume i
    position: absolute;
    left: -1.1em;
    color: #c2c2c2;
    top: -2.5vh;
    font-size: 6vh;

.OnlineCall
	position absolute
	bottom -1.5em
	right -70%
	text-align center
	font-size 0.8em
	color #a1a1a1
	text-decoration inherit
	
.OnlineCall i
	color #a1a1a1
	display block
	font-size 2em

.buttonSMS
	position absolute
	color #a1a1a1
	display none
	z-index: 50;
.buttonSMS a
	color #a1a1a1
	font-size 5.5vw
	
.buttonCall
	position absolute
	color #a1a1a1
	display none
	z-index: 50;
.buttonCall a
	color #a1a1a1
	font-size 5.5vw

.fab__icon
	font-size 5.5vw
	
ons-splitter:before
	content ' '
	position absolute
	top 0%
	left 50%
	width 1px
	background-color #f00
	height 100%
	z-index 100
	display none
	
ons-splitter:after
	content ' '
	position absolute
	top 50%
	width 100%
	background-color #f00
	height 1px
	z-index 100
	display none
	
@media all and (-webkit-min-device-pixel-ratio: 1)
	@media (max-width: 320px)
    .page
      font-size: 14px
	@media (min-width: 600px)
    .page
      font-size: 29px
	@media (min-width: 700px)
    .page
      font-size: 34px
	  
@media all and (-webkit-min-device-pixel-ratio: 2)
	@media (min-width: 800px)
		.page
		  font-size: 17px * 2
		//.buttonCall, .buttonSMS
		 //font-size: 1.2em